<div class="flex flex-col justify-between gap-10 md:flex-row">
  <div class="relative flex items-center w-percent-55">
    <span class="w-full text-gray-dark text-lg font-se">
      {{ _texts.graphText }} {{ _currentMonth.toLocaleLowerCase() }}
    </span>

    <app-graph
      [data]="[10, 15]"
      [labels]="['Realizované pohřby', 'Nadcházející pohřby']"
      label="# počet"
      chartType="doughnut"
      [colors]="['#3498DB', '#9B59B6']"
    />
  </div>

  <div class="flex flex-col gap-5 w-percent-45">
    <app-reminder />

    <div class="flex flex-row items-center gap-5 mt-auto">
      <button
        mat-fab extended
        class="mat-raised-button custom-button-funeral"
        [matTooltip]="_texts.funeralTooltip"
        [matTooltipShowDelay]="1000"
      >
        <mat-icon fontIcon="add" />
        {{ _texts.newFuneral }}
      </button>
      
      <button
        mat-fab extended
        class="mat-raised-button custom-button-service"
        [matTooltip]="_texts.serviceTooltip"
        [matTooltipShowDelay]="1000"
      >
        <mat-icon fontIcon="add" />
        {{ _texts.newService }}
      </button>
    </div>
  </div>
</div>

<div class="flex flex-col gap-4 w-full">
  <h2>
    <a [routerLink]="['/' + planningRoute]">{{ _texts.services }}</a>
    <mat-icon class="link-icon mt-1"  fontIcon="link"/>
  </h2>
  
  <app-dashboard-table-upcoming />
</div>
