h2 {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  text-align: start;
  font-size: 1.5rem;
  font-weight: 500;
  transition: color 0.2s ease-in-out;
}

h2:hover {
  color: theme('colors.blue-primary');
  cursor: pointer;
}

.icon {
  color: transparent;
  transition: color 0.2s ease-in-out;
}

h2:hover .icon {
  color: theme('colors.blue-primary');
}
