<button
  mat-fab extended
  class="mat-raised-button custom-button-funeral"
  [matTooltip]="_texts.funeralTooltip"
  [matTooltipShowDelay]="1000"
  (click)="toggleModal(_EModalVariant.NewFuneral)"
>
  <span class="inline-flex items-center gap-2">
    <ui-icon [iconVariant]="'add'" />
    {{ _texts.newFuneral }}
  </span>
</button>

<button
  mat-fab extended
  class="mat-raised-button custom-button-company"
  [matTooltip]="_texts.companyTooltip"
  [matTooltipShowDelay]="1000"
  (click)="toggleModal(_EModalVariant.NewCompany)"
>
  <span class="inline-flex items-center gap-2">
    <ui-icon [iconVariant]="'add'" />
    {{ _texts.newCompany }}
  </span>
</button>

@if (handleModalVariantOpen(_EModalVariant.NewCompany)) {
  <ui-modal [title]="'Pridej novou pobocku'" (onClose)="toggleModal(_EModalVariant.NewCompany)">
    <shared-add-new-company />
  </ui-modal>
}

@if (handleModalVariantOpen(_EModalVariant.NewFuneral)) {
  <ui-modal [title]="'Sjednej novy pohreb'" (onClose)="toggleModal(_EModalVariant.NewFuneral)">
    <shared-add-new-funeral (onClose)="toggleModal(_EModalVariant.NewFuneral)" />
  </ui-modal>
}