<app-amount-tab-base-template
  [productAmount]="_productAmount"
  (handleOnClose)="_handleClose()"
  (handleOnSubmit)="_onSubmit()"
>
  <label class="inline-flex items-center gap-2">
    <ui-icon
      className="text-blue-primary"
      [iconVariant]="'info'"
      [matTooltip]="_texts.tooltip"
    />
  
    <span>{{ _texts.title }}</span>
  
    <input
      class="w-40"
      type="number"
      name="count"
      [id]="'stockIn-tab-' + product.productId"
      [(ngModel)]="_productAmount"
    />
  </label>
</app-amount-tab-base-template>
