<form class="" #form="ngForm" (ngSubmit)="_onSubmit(form)">
  <div class="grid grid-cols-2 gap-4">
    <mat-form-field>
      <mat-label for="date">{{ _texts.date }}</mat-label>
      <input
        matInput
        datepicker-append-to-body="true"
        [matDatepicker]="picker"
        name="date"
        id="date"
        ngModel
        #date="ngModel"
      />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <ng-template>
        <style>
            .cdk-overlay-pane {
              top: 132px !important;
              left: 21.1px !important;
            }
        </style>
      </ng-template>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <mat-label for="wareItemType">{{ _texts.wareItemType }}</mat-label>
      <input
        matInput
        type="wareItemType"
        name="wareItemType"
        id="wareItemType"
        ngModel
        required
        #wareItemType="ngModel"
      />

      @if (wareItemType.touched && wareItemType.dirty && wareItemType.invalid) {
        <mat-error>{{ _texts.wareItemError }}</mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label for="name">{{ _texts.name }}</mat-label>
      <input
        matInput
        type="text"
        name="name"
        id="name"
        ngModel
        required
        #name="ngModel"
      />

      @if (name.touched && name.dirty && name.invalid) {
        <mat-error>{{ _texts.nameError }}</mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label for="profit">{{ _texts.profit }}</mat-label>
      <input
        matInput
        type="profit"
        name="profit"
        id="profit"
        ngModel
        required
        #profit="ngModel"
      />

      @if (profit.touched && profit.dirty && profit.invalid) {
        <mat-error>{{ _texts.profitError }}</mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label for="outcome">{{ _texts.outcome }}</mat-label>
      <input
        matInput
        type="outcome"
        name="outcome"
        id="outcome"
        ngModel
        required
        #outcome="ngModel"
      />

      @if (outcome.touched && outcome.dirty && outcome.invalid) {
        <mat-error>{{ _texts.outcomeError }}</mat-error>
      }
    </mat-form-field>
  </div>

  <div class="flex gap-4 justify-self-end">
    <app-button-secondary [disabled]="form.invalid ?? false" class="w-24" [fullWidth]="true" [type]="'submit'">
      {{ _texts.submit }}
    </app-button-secondary>

    <app-button-primary (click)="_onCancel()" class="w-24" [fullWidth]="true">
      {{ _texts.cancel }}
    </app-button-primary>
  </div>
</form>
