<form #form="ngForm" (ngSubmit)="_onSubmit(form)">
  <div class="grid grid-cols-2 gap-4">
    <mat-form-field>
      <mat-label for="date">{{ _texts.date }}</mat-label>
      <input
        matInput
        datepicker-append-to-body="true"
        [matDatepicker]="picker"
        name="date"
        id="date"
        ngModel
        #date="ngModel"
      />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <ng-template>
        <style>
            .cdk-overlay-pane {
              top: 132px !important;
              left: 21.1px !important;
            }
        </style>
      </ng-template>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <mat-label for="name">{{ _texts.name }}</mat-label>
      <input
        matInput
        type="text"
        name="name"
        id="name"
        ngModel
        required
        #name="ngModel"
      />

      @if (name.touched && name.dirty && name.invalid) {
        <mat-error>{{ _texts.nameError }}</mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label for="availableCount">{{ _texts.availableCount }}</mat-label>
      <input
        matInput
        type="availableCount"
        name="availableCount"
        id="availableCount"
        ngModel
        required
        #availableCount="ngModel"
      />

      @if (availableCount.touched && availableCount.dirty && availableCount.invalid) {
        <mat-error>{{ _texts.availableCountError }}</mat-error>
      }
    </mat-form-field>
  </div>

  <div class="flex gap-4 justify-self-end">
    <app-button-secondary [disabled]="form.invalid ?? false" class="w-24" [fullWidth]="true" [type]="'submit'">
      {{ _texts.submit }}
    </app-button-secondary>

    <app-button-primary (click)="_onCancel()" class="w-24" [fullWidth]="true">
      {{ _texts.cancel }}
    </app-button-primary>
  </div>
</form>
