<form #form="ngForm" (ngSubmit)="_onSubmit(form)">
  <div class="grid grid-cols-2 gap-4">
    <mat-form-field>
      <mat-label for="date">{{ _texts.date }}</mat-label>
      <input
        matInput
        type="date"
        name="date"
        id="date"
        [matDatepicker]="picker"
        ngModel
        date
        #date="ngModel"
      />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker" ></mat-datepicker-toggle>
      <mat-datepicker #picker panelClass="custom-datepicker-panel"></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <mat-label for="wareItemType">{{ _texts.wareItemType }}</mat-label>
      <input
        matInput
        type="wareItemType"
        name="wareItemType"
        id="wareItemType"
        ngModel
        required
        #wareItemType="ngModel"
      />

      @if (wareItemType.touched && wareItemType.dirty && wareItemType.invalid) {
        <mat-error>{{ _texts.wareItemError }}</mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label for="name">{{ _texts.name }}</mat-label>
      <input
        matInput
        type="text"
        name="name"
        id="name"
        ngModel
        required
        #name="ngModel"
      />

      @if (name.touched && name.dirty && name.invalid) {
        <mat-error>{{ _texts.nameError }}</mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label for="profit">{{ _texts.profit }}</mat-label>
      <input
        matInput
        type="profit"
        name="profit"
        id="profit"
        ngModel
        required
        #profit="ngModel"
      />

      @if (profit.touched && profit.dirty && profit.invalid) {
        <mat-error>{{ _texts.profitError }}</mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label for="outcome">{{ _texts.outcome }}</mat-label>
      <input
        matInput
        type="outcome"
        name="outcome"
        id="outcome"
        ngModel
        required
        #outcome="ngModel"
      />

      @if (outcome.touched && outcome.dirty && outcome.invalid) {
        <mat-error>{{ _texts.outcomeError }}</mat-error>
      }
    </mat-form-field>
  </div>

  <div class="justify-self-end">
    <button mat-button (click)="_onCancel()">{{ _texts.cancel }}</button>
    <button mat-button disabled="{{ form.invalid }}" type="submit">{{ _texts.submit }}</button>
  </div>
</form>
