<table mat-table class="table">
  <ng-container matColumnDef="Datum sjednani">
    <th mat-header-cell *matHeaderCellDef>Datum sjednani</th>
    <td mat-cell *matCellDef="let element" class="cell row w-14">{{ element.id }}</td>
  </ng-container>

  <ng-container matColumnDef="placeCeremony">
    <th mat-header-cell *matHeaderCellDef>Misto obradu</th>
    <td mat-cell *matCellDef="let element" class="cell">
      <input
        type="text"
        name="placeCeremony"
        id="placeCeremony"
        [value]="element.date"
      />
    </td>
  </ng-container>

  <ng-container matColumnDef="timeCeremony">
    <th mat-header-cell *matHeaderCellDef>Datum a cas obradu</th>
    <td mat-cell *matCellDef="let element" class="cell">
      <input
        type="text"
        name="timeCeremony"
        id="timeCeremony"
        [value]="element.date"
      />
    </td>
  </ng-container>

  <ng-container matColumnDef="deceased">
    <th mat-header-cell *matHeaderCellDef>Zesnuly</th>
    <td mat-cell *matCellDef="let element" class="cell">
      <input
        type="text"
        name="deceased"
        id="deceased"
        [value]="element.name"
      />
    </td>
  </ng-container>

  <ng-container matColumnDef="customer">
    <th mat-header-cell *matHeaderCellDef>Objednatel</th>
    <td mat-cell *matCellDef="let element" class="cell w-32">
      <input
        class="w-full"
        type="text"
        name="customer"
        id="customer"
        [value]="element.availableCount"
      />
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="['Datum sjednani', 'placeCeremony', 'timeCeremony', 'deceased', 'customer',]" class="row"></tr>
  <tr mat-row *matRowDef="let row; columns: ['Datum sjednani', 'placeCeremony', 'timeCeremony', 'deceased', 'customer',]" class="row"></tr>
</table>

