<app-amount-tab-base-template
  [productAmount]="_productAmount"
  (handleOnClose)="_handleClose()"
  (handleOnSubmit)="_onSubmit()"
>
  <label class="inline-flex items-center gap-2">
    <mat-icon
      class="text-blue-primary"
      [fontIcon]="'info'"
      [matTooltip]="_texts.tooltip"
    />

    <span>{{ _texts.title }}</span>

    <input
      class="w-40"
      type="number"
      name="count"
      [id]="'change-tab' + product.productId"
      [(ngModel)]="_productAmount"
    />
  </label>
</app-amount-tab-base-template>
