.mat-raised-button.custom-secondary-button {
  background-color: theme('colors.button-secondary.background');
  color: white;
  border-radius: 6px;
}

.mat-raised-button.is-full-width {
  width: 100%;
}

.mat-raised-button.custom-secondary-button:disabled {
  background-color: theme('colors.button-secondary.disabled-background');
  color: theme('colors.button-secondary.disabled-text');
  cursor: default;
  box-shadow: none;
}

