@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add global styles to this file, and also import other style files */

@layer base {
  html,
  body {
    padding: 0;
    margin: 0;
    min-width: 320px;
    background-color: #FFF; /* Light Steel Blue b1b4ba*/
    font-size: 16px;
    font-size: 100%;
    color: #000;  /* Light Cyan 0a0983 */
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
    scroll-behavior: smooth;
  }
  
  html, body, .mat-typography {
    font-size: 16px; /* Adjust this size as needed */
    font-family: Arial, sans-serif;
  }

  /* Always show scrollbar to prevent layout shifts between pages. */
  body {
    overflow-y: scroll;
  }
  
  body.modal-open {
    overflow: hidden;
  }
}

@layer utilities {
  .page-layout {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: 1224px) {
      max-width: 1224px;
    }
  }
}

@layer components {  
  dialog.cdk-custom-pane .cdk-overlay-container .cdk-overlay-pane {
    top: 132px !important;   /* TODO */
    left: 21.1px  !important;   /* TODO */
  }

  .custom-select-panel.mat-mdc-select-panel {
    position: absolute;
    left: 4px;
  }

  /* #region Slide Toggle */

  .mat-mdc-slide-toggle.toggle-slide-label label {
    font-weight: 500;
    font-size: 15px;
    color: theme('colors.blue-primary');
  }

  .mat-mdc-slide-toggle.toggle-slide-label.toggle-slide-enabled .mdc-switch .mdc-switch__track::after {
    background-color: theme('colors.blue-secondary');
  }

  .mat-mdc-slide-toggle.toggle-slide-label.toggle-slide-enabled .mdc-switch:enabled:focus:not(:active) .mdc-switch__track::after {
    background-color: theme('colors.blue-secondary');
  }

  /* #endregion */

  /* #region Table */

  .base-table-border {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border: 1px solid theme('colors.gray');
    border-radius: 4px;
  }

  .mat-mdc-table.table {
    max-height: 100%;
    background-color: inherit;
  }
  
  .mat-mdc-table .mat-mdc-header-cell.header {
    border-bottom-color: theme('colors.gray');
  }
  
  .mat-mdc-cell.cell {
    border-bottom: none;
  }
  
  .mat-mdc-row.row {
    height: 45px;
  }
  
  .mat-mdc-row.row:hover {
    background-color: theme('colors.blue-light');
    cursor: pointer;
  }

  .input-table {
    padding: 2px;
    background-color: white;
    border: 1px solid transparent;
    border-radius: 3.5px;
  }
  .input-table:hover {
    border: 1px solid theme('colors.gray');
  }

  .input-table:focus {
    border-color: theme('colors.blue-primary');
    box-shadow: 0 0 6px theme('colors.blue-primary');
    outline: none;
  }

  tr:hover :where(.input-table) {
    background-color: theme('colors.blue-light');
  }

  .table-delete-icon {
    width: 24px;
    height: 24px;
    color: transparent;
    cursor: pointer;
  }
  
  .table-delete-icon:hover {
    background-color: theme('colors.blue-bgm');
    border-radius: 2px;
  }
  
  tr:hover :where(.table-delete-icon) {
    color: theme('colors.blue-primary');
    cursor: pointer;
  }
  
  .mat-mdc-paginator.custom-pagination {
    margin-top: auto;
    background-color: inherit;
  }

  /* #endregion */

  /* #region WarehouseTable stockMenu */

  .input-table:hover,
  .input-wrapper:hover .input-table,
  .stock-count-menu:hover ~ .input-table {
    border: 1px solid theme('colors.gray');
  }
  
  .input-wrapper {
    position: relative;
  }
  
  .stock-count-menu {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0px 4px 4px 4px;
    height: 100%;
    background-color: theme('colors.gray-muted');
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    color: theme('colors.blue-primary');
    font-weight: 700;
  }
    
  .input-table:focus + .stock-count-menu,
  .input-wrapper:hover .stock-count-menu {
    display: block;
  }

  /* Style for input when focused or activeCountMenu */
  .input-wrapper.active .input-table,
  .input-table:focus {
    border: 1px solid theme('colors.gray');
    outline: none;
  }

  /* Style for stock-count-menu when focused or activeCountMenu */
  .input-wrapper.active .stock-count-menu,
  .input-table:focus + .stock-count-menu {
    display: block;
    background-color: theme('colors.gray-muted');
    color: theme('colors.blue-primary');
  }

  .mat-mdc-cell.cell-count {
    border-bottom: none;
    overflow: unset;
  }

  /* #endregion */
}
