@import url('./table.component.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add global styles to this file, and also import other style files */

@layer base {
  html,
  body {
    padding: 0;
    margin: 0;
    min-width: 320px;
    background-color: #FFF; /* Light Steel Blue b1b4ba*/
    font-size: 16px;
    font-size: 100%;
    color: #000;  /* Light Cyan 0a0983 */
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
    scroll-behavior: smooth;
  }
  
  html, body, .mat-typography {
    font-size: 16px; /* Adjust this size as needed */
    font-family: Arial, sans-serif;
  }

  /* Always show scrollbar to prevent layout shifts between pages. */
  body {
    overflow-y: scroll;
  }
  
  body.modal-open {
    overflow: hidden;
  }
}

@layer utilities {
  .page-layout {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: 1224px) {
      max-width: 1224px;
    }
  }
}

@layer components {  
  dialog.cdk-custom-pane .cdk-overlay-container .cdk-overlay-pane {
    top: 132px !important;   /* TODO */
    left: 21.1px  !important;   /* TODO */
  }

  .custom-select-panel.mat-mdc-select-panel {
    position: absolute;
    left: 4px;
  }

  /* #region Slide Toggle */

  .mat-mdc-slide-toggle.toggle-slide-label label {
    font-weight: 500;
    font-size: 15px;
    color: theme('colors.blue-primary');
  }

  .mat-mdc-slide-toggle.toggle-slide-label.toggle-slide-enabled .mdc-switch .mdc-switch__track::after {
    background-color: theme('colors.blue-secondary');
  }

  .mat-mdc-slide-toggle.toggle-slide-label.toggle-slide-enabled .mdc-switch:enabled:focus:not(:active) .mdc-switch__track::after {
    background-color: theme('colors.blue-secondary');
  }

  .my-custom-tabs .mat-mdc-tab-body { 
    height: 384px;
  }
  
  /* #endregion */
}
