<div class="flex gap-10 py-3 px-4 bg-blue-light rounded-md">
  <mat-slide-toggle
    labelPosition="before"
    class="toggle-slide-label toggle-slide-enabled"
    ngModel
    (ngModelChange)="onChangeToggle($event, 'Flag')"
  >
    {{ _texts.filterWithFlag }}
  </mat-slide-toggle>

  <mat-slide-toggle
    labelPosition="before"
    class="toggle-slide-label toggle-slide-enabled"
    ngModel
    (ngModelChange)="onChangeToggle($event, 'Comment')"
  >
    {{ _texts.filterWithComment }}
  </mat-slide-toggle>
</div>

<table mat-table [dataSource]="tableDataSource" class="table">
  <tr mat-header-row *matHeaderRowDef="tableColumns" class="header row"></tr>
  <tr mat-row *matRowDef="let row; columns: tableColumns" class="row"></tr>

  <ng-container matColumnDef="category">
    <th mat-header-cell *matHeaderCellDef class="header w-290.6">{{ _texts.categoryHeader }}</th>
    <td mat-cell *matCellDef="let element" class="cell">
      <div class="select-wrapper">
        <select
          class="input-table custom-select"
          name="category"
          [id]="'category' + element.productId"
          [(ngModel)]="element.productCategoryId"
          (change)="onCategoryChange(element.productCategoryId, element)"
        >
          <option
            *ngFor="let category of _warehouseService.categories()"
            [value]="category.id"
          >
            {{ category.name }}
          </option>
        </select>

        <mat-icon class="select-arrow" fontIcon="keyboard_arrow_down" />
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef class="header w-290.6">{{ _texts.typeHeader }}</th>
    <td mat-cell *matCellDef="let element" class="cell">
      <input
        class="input-table"
        name="type"
        type="text"
        [id]="'type' + element.productId"
        [(ngModel)]="element.type"
        (focus)="_storePreviousValue($event)"
        (blur)="onTypeChange(element.type, element)"
      />
    </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef class="header w-290.6">{{ _texts.nameHeader }}</th>
    <td mat-cell *matCellDef="let element" class="cell">
      <input
        class="input-table"
        name="name"
        type="text"
        [id]="'name-' + element.productId"
        [(ngModel)]="element.name"
        (focus)="_storePreviousValue($event)"
        (blur)="onNameChange(element.name, element)"
      />
    </td>
  </ng-container>

  <ng-container matColumnDef="availableAmount">
    <th mat-header-cell *matHeaderCellDef class="header w-100">{{ _texts.availableCountHeader }}</th>
    <td mat-cell *matCellDef="let element" class="cell-count">
      <div class="input-wrapper" [class.active]="activeCountMenu() === element.productId">
        <button class="input-table w-full text-start cursor-pointer" (click)="toggleCountMenu(element.productId)">
          {{ element.inStock }}
        </button>

        <app-product-amount-change-menu
          [isOpen]="activeCountMenu() === element.productId"
          [product]="element"
          (onClose)="activeCountMenu.set(undefined)"
        />
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="flag">
    <th mat-header-cell *matHeaderCellDef class="header min-w-14 w-14"> </th>
    <td mat-cell *matCellDef="let element" class="cell w-6">
      <app-flag [isFlagged]="element.isFlagged" (onClick)="onFlagClick(element)" />
    </td>
  </ng-container>

  <ng-container matColumnDef="comment">
    <th mat-header-cell *matHeaderCellDef class="header min-w-14 w-14"></th>
    <td mat-cell *matCellDef="let element" class="cell w-6">
      <app-comment [comment]="element.comment" (onSaveComment)="onSaveComment(element, $event)" />
    </td>
  </ng-container>

  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef class="header min-w-14 w-14"></th>
    <td mat-cell *matCellDef="let element" class="cell w-6">
      <mat-icon class="table-delete-icon" fontIcon="delete" (click)="deleteWarehouseItem(element.productId)" />
    </td>
  </ng-container>
</table>

<!-- If no data in table show this message -->
<ng-container *ngIf="!isLoading() && tableDataSource.data.length === 0">
  <tr class="mt-4 self-center">
    <td [attr.colspan]="tableColumns.length">
      {{ _texts.emptyWarehouse }}
    </td>
  </tr>
</ng-container>

<mat-paginator
  aria-label="Select page of periodic elements"
  class="custom-pagination"
  showFirstLastButtons
  [pageSizeOptions]="[5, 10, 20]"
  (page)="selectedPagination = $event.pageSize"
/>
