<div class="flex gap-10 py-3 px-4 bg-blue-light">
  <mat-slide-toggle
    labelPosition="before"
    class="toggle-slide-label toggle-slide-enabled"
    ngModel
    (ngModelChange)="onChangeToggle($event, 'Flag')"
  >
    {{ _texts.filterWithFlag }}
  </mat-slide-toggle>

  <mat-slide-toggle
    labelPosition="before"
    class="toggle-slide-label toggle-slide-enabled"
    ngModel
    (ngModelChange)="onChangeToggle($event, 'Comment')"
  >
    {{ _texts.filterWithComment }}
  </mat-slide-toggle>
</div>

<table mat-table [dataSource]="tableDataSource" class="table">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef class="header">{{ _texts.idHeader }}</th>
    <td mat-cell *matCellDef="let element" class="cell row w-14">{{ element.id }}</td>
  </ng-container>

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef class="header">{{ _texts.dateHeader }}</th>
    <td mat-cell *matCellDef="let element" class="cell">
      <input
        class="input-table"
        [id]="'date-' + element.id"
        name="date"
        type="date"
        [(ngModel)]="element.date"
      />
    </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef class="header">{{ _texts.nameHeader }}</th>
    <td mat-cell *matCellDef="let element" class="cell">
      <input
        class="input-table"
        [id]="'name-' + element.id"
        name="name"
        type="text"
        [(ngModel)]="element.name"
      />
    </td>
  </ng-container>

  <ng-container matColumnDef="availableCount">
    <th mat-header-cell *matHeaderCellDef class="header">{{ _texts.availableCountHeader }}</th>
    <td mat-cell *matCellDef="let element" class="cell w-32">
      <input
        class="input-table w-full"
        [id]="'availableCount-' + element.id"
        name="availableCount"
        type="text"
        [(ngModel)]="element.availableCount"
      />
    </td>
  </ng-container>

  <ng-container matColumnDef="flag">
    <th mat-header-cell *matHeaderCellDef class="header"></th>
    <td mat-cell *matCellDef="let element" class="cell w-6">
      <app-flag [isFlagged]="element.isFlagged" (onClick)="onFlagClick(element)" />
    </td>
  </ng-container>

  <ng-container matColumnDef="comment">
    <th mat-header-cell *matHeaderCellDef class="header"></th>
    <td mat-cell *matCellDef="let element" class="cell w-6">
      <app-comment [comment]="element.comment" />
    </td>
  </ng-container>

  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef class="header"></th>
    <td mat-cell *matCellDef="let element" class="cell w-6">
      <mat-icon class="table-delete-icon" fontIcon="delete" (click)="deleteWarehouseItem(element.id)" />
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedTableColumns" class="header row"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedTableColumns" class="row"></tr>
</table>

<mat-paginator
  class="custom-pagination"
  showFirstLastButtons
  aria-label="Select page of periodic elements"
  [pageSizeOptions]="[5, 10, 20]"
  (page)="selectedPagination = $event.pageSize"
/>
