.mat-mdc-table.table {
  height: 100%;
  background-color: inherit;
}

.mat-mdc-cell.cell {
  height: 32px;
  border-bottom: none;
}

.mat-mdc-row.row {
  height: 45px;
}

.mat-mdc-row:hover {
  background-color: theme('colors.blue-light');
  cursor: pointer;
}

input {
  background-color: white;
  border: 2px solid transparent;
  border-radius: 3.5px;
}

input:hover {
  border: 1px solid theme('colors.gray');
  border-radius: 3.5px;
}

tr:hover :where(input) {
  background-color: theme('colors.blue-light');
}

.delete-icon {
  width: 24px;
  height: 24px;
  color: transparent;
  cursor: pointer;
}

tr:hover :where(.delete-icon) {
  color: theme('colors.blue-primary');
  cursor: pointer;
}

.mat-mdc-paginator.custom-pagination {
  margin-top: auto;
  background-color: inherit;
}
