<form class="flex flex-col gap-4" #form="ngForm" (ngSubmit)="_onSubmit(form)">
  <div class="grid grid-cols-2 gap-4">
    <mat-form-field>
      <mat-label for="productCategory">{{ _texts.itemCategory }}</mat-label>
      <mat-select
        name="productCategory"
        panelClass="custom-select-panel"
        ngModel
        #productCategory="ngModel"
      >
        @for (selectItem of selectItems; track selectItem.value) {
          <mat-option [value]="selectItem.value">{{ selectItem.viewValue }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label for="type">{{ _texts.itemType }}</mat-label>
      <input
        matInput
        type="text"
        name="type"
        id="type"
        ngModel
        required
        #type="ngModel"
      />

      @if (type.touched && type.dirty && type.invalid) {
        <mat-error>{{ _texts.nameError }}</mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label for="name">{{ _texts.name }}</mat-label>
      <input
        matInput
        type="text"
        name="name"
        id="name"
        ngModel
        required
        #name="ngModel"
      />

      @if (name.touched && name.dirty && name.invalid) {
        <mat-error>{{ _texts.nameError }}</mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label for="availableAmount">{{ _texts.availableCount }}</mat-label>
      <input
        matInput
        type="number"
        name="availableAmount"
        id="availableAmount"
        ngModel
        required
        #availableAmount="ngModel"
      />

      @if (availableAmount.touched && availableAmount.dirty && availableAmount.invalid) {
        <mat-error>{{ _texts.availableCountError }}</mat-error>
      }
    </mat-form-field>
  </div>

  <div class="flex gap-4 justify-end">
    <app-button-secondary [disabled]="form.invalid ?? false" [variant]="'base'" [type]="'submit'">
      {{ _texts.submit }}
    </app-button-secondary>

    <app-button-primary (click)="_onCancel()" [variant]="'base'">
      {{ _texts.cancel }}
    </app-button-primary>
  </div>
</form>
