@if (isModalOpen()) {
  <app-modal [title]="_texts.addNewItem" (onClose)="toggleModal()">
    <app-add-new-warehouse-item (onCancel)="toggleModal()" />
  </app-modal>
}


@if (_warehouseServiceTable.warehouseItems$ | async) {
  <div class="flex items-center gap-14 mb-5">
    <div class="flex mt-auto w-340 border-b-[1px] border-gray-material2">
      @for (tab of _tableTabs; track tab.id) {
        <button
          class="tab px-6 py-3 text-blue-primary hover:bg-gray-material"
          (click)="onTabClick(tab.variant)"
          [ngClass]="{ 'active': activeTab() === tab.variant }"
        >
          {{ tab.text }}
        </button>
      }
    </div>


    <mat-form-field class="-mb-5">
      <mat-label for="name">{{ _texts.searchItem }}</mat-label>
      <mat-icon matSuffix>search</mat-icon>
      <input
        matInput
        type="text"
        name="searchItem"
        id="searchItem"
        ngModel
        (ngModelChange)="onSearchQueryChange($event)"
      />
    </mat-form-field>
  
    <app-button-primary class="ml-auto" (click)="toggleModal()">
      {{ _texts.addNewItem }}
    </app-button-primary>
  </div>

  <app-warehouse-table />

  <div>
    Here will be graph
  </div>
} @else {
  <app-button-primary class="self-center" (click)="toggleModal()">
    {{ _texts.addNewItem }}
  </app-button-primary>
}
