table {
  overflow: hidden;
  border: 1px solid theme('colors.secondary-gray2');
  border-radius: 6px;
  border-collapse: separate;
  border-spacing: 0;
}

th, td {
  padding: 8px;
  text-align: left;
}

td {
  padding: 15px;
}

th {
  padding: 8px;
  background-color: theme('colors.tertiary-gray');
  border-bottom: 1px solid #b1b4ba;
}

input {
  background-color: white;
  border: 2px solid transparent;
  border-radius: 3.5px;
}

tr:hover {
  background-color: theme('colors.primary-blue-light');
}

input:hover {
  border: 2px solid black;
  border-radius: 3.5px;
}

tr:hover :where(input) {
  background-color: theme('colors.primary-blue-light');
}

.icon {
  width: 24px;
  height: 24px;
  color: transparent;
}

tr:hover :where(.icon) {
  color: theme('colors.gray');
  cursor: pointer;
}
