@if (isModalOpen()) {
  <ui-modal [title]="_texts.addNewItem" (onClose)="toggleModal()">
    <app-add-new-warehouse-item (onCancel)="toggleModal()" />
  </ui-modal>
}

<div class="flex items-center gap-14 mb-5">
  <app-filter-tabs />

  <mat-form-field class="-mb-5 ml-auto">
    <mat-label for="name">{{ _texts.searchItem }}</mat-label>
    <ui-icon [iconVariant]="'search'" [matSuffix]="true" />
    <input
      matInput
      type="text"
      name="searchItem"
      id="searchItem"
      ngModel
      (ngModelChange)="onSearchQueryChange($event)"
    />
  </mat-form-field>

  <ui-button-secondary class="ml-auto w-40" [fullWidth]="true" (click)="toggleModal()">
    {{ _texts.addNewItem }}
  </ui-button-secondary>
</div>

<app-warehouse-table />

<app-warehouse-graph />
