<div class="flex items-center justify-between">
  <span>{{ _texts.label }}</span>

  <mat-form-field>
    <input
      matInput
      type="text"
      name="newCategory"
      id="newCategory"
      required
      [(ngModel)]="newCategoryName"
    />
  </mat-form-field>
</div>

<div class="flex gap-4 justify-end">
  <app-button-secondary class="w-24" [disabled]="!newCategoryName" (click)="onSubmit()">
    {{ _texts.submit }}
  </app-button-secondary>

  <app-button-primary (click)="handleToggleModal()" class="w-24">
    {{ _texts.cancel }}
  </app-button-primary>
</div>
